/*file global*/
* {
  box-sizing: border-box;
}

@font-face {
  src: url(../../font/OpenSans.ttf);
  font-family: "OpenSans";
}
@font-face {
  src: url(../../font/Raleway-Regular.ttf);
  font-family: "Raleway-Regular";
}
.page {
  width: 860px;
  margin: 0 auto;
}

body {
  margin: 0;
  background: #333333;
  font-family: "Raleway-Regular";
  text-transform: capitalize;
  letter-spacing: 1px;
}

/*file global*/
/* start style home*/
.page {
  height: 900px;
  margin-top: 25px;
}
.page .cv {
  display: flex;
}
.page .cv .personal {
  width: 280px;
  background: #db4453;
}
.page .cv .personal .my-img {
  text-align: center;
  margin-top: 15px;
}
.page .cv .personal .my-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #fff;
}
.page .cv .personal .my-data h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  margin-left: 15px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.page .cv .personal .sela {
  display: flex;
  margin-left: 20px;
  color: #fff;
}
.page .cv .personal .sela div:nth-of-type(1) {
  margin-right: 10px;
}
.page .cv .personal .sela div:nth-of-type(1) img {
  width: 15px;
  height: 15px;
}
.page .cv .personal .sela div:nth-of-type(2) p:nth-of-type(1) {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}
.page .cv .personal .sela div:nth-of-type(2) p:nth-of-type(2) {
  margin-top: 5px;
  font-size: 12px;
}
.page .cv .personal .sela div:nth-of-type(2) p:nth-of-type(2) a {
  color: #fff;
}
.page .cv .info {
  background: #fff;
  width: 600px;
}
.page .cv .info .summery {
  color: #383a3a;
  margin-left: 15px;
}
.page .cv .info .summery::after {
  content: "";
  display: block;
  width: 97%;
  height: 2px;
  background: #868787;
  margin-top: 5px;
}
.page .cv .info .summery h1 {
  font-family: "OpenSans";
  margin: 0;
}
.page .cv .info .summery p {
  margin: 0;
}
.page .cv .info .education {
  margin-left: 15px;
  margin-top: 15px;
}
.page .cv .info .education::after {
  content: "";
  display: block;
  width: 97%;
  height: 2px;
  background: #868787;
  margin-top: 5px;
}
.page .cv .info .education > div:nth-of-type(1) {
  display: flex;
  font-family: "OpenSans";
  color: #383a3a;
}
.page .cv .info .education > div:nth-of-type(1) img {
  width: 50px;
  height: 50px;
  border: 2px solid #868787;
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
}
.page .cv .info .education > div:nth-of-type(1) h2 {
  margin: 5px;
  text-transform: uppercase;
}
.page .cv .info .education .path {
  display: flex;
  margin-left: 18px;
  margin-top: 5px;
}
.page .cv .info .education .path img {
  width: 40;
  height: 40px;
}
.page .cv .info .education .path span {
  font-size: 9px;
  margin-top: 28px;
  margin-left: 5px;
}
.page .cv .info .education .path .sor {
  flex: 1;
  margin-top: 15px;
  margin-left: 15px;
}
.page .cv .info .education .path .sor p {
  font-weight: bold;
  font-size: 11px;
  margin: 0;
}
.page .cv .info .education .path .sor p:nth-of-type(2) {
  color: #db4453;
}

/*# sourceMappingURL=style.css.map */
