/* start style home*/
.page {
    @extend %container;
    height: 900px;
    margin-top: 25px;
    .cv {
        display: flex;
        .personal {
            width: 280px;
            background: #db4453;
            .my-img {
                text-align: center;
                margin-top: 15px;
                img {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    border: 3px solid #fff;
                }
            }
            .my-data {
                h4 {
                    font-size: 14px;
                    font-weight: bold;
                    color: #fff;
                    margin-left: 15px;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
            }
            .sela {
                display: flex;
                margin-left: 20px;
                color: #fff;
                div:nth-of-type(1) {
                    margin-right: 10px;
                    img {
                        width: 15px;
                        height: 15px;
                    }
                }
                div:nth-of-type(2) {
                    p:nth-of-type(1) {
                        font-size: 12px;
                        font-weight: bold;
                        margin: 0;
                    }
                    p:nth-of-type(2) {
                        margin-top: 5px;
                        font-size: 12px;
                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }

        .info {
            background: #fff;
            width: 600px;
            .summery {
                color: #383a3a;
                margin-left: 15px;
                &::after {
                    content: '';
                    display: block;
                    width: 97%;
                    height: 2px;
                    background: #868787;
                    margin-top: 5px;
                }
                h1 {
                    font-family: 'OpenSans';
                    margin: 0;
                }
                p {
                    margin: 0;
                }
            }
            .education {
                margin-left: 15px;
                margin-top: 15px;
                &::after {
                    content: '';
                    display: block;
                    width: 97%;
                    height: 2px;
                    background: #868787;
                    margin-top: 5px;
                }
                > div:nth-of-type(1) {
                    display: flex;
                    font-family: 'OpenSans';
                    color: #383a3a;
                    img {
                        width: 50px;
                        height: 50px;
                        border: 2px solid #868787;
                        border-radius: 50%;
                        padding: 5px;
                        margin-right: 10px;
                    }
                    h2 {
                        margin: 5px;
                        text-transform: uppercase;
                    }
                }
                .path {
                    display: flex;
                    margin-left: 18px;
                    margin-top: 5px;
                    img {
                        width: 40;
                        height: 40px;
                    }
                    span {
                        font-size: 9px;
                        margin-top: 28px;
                        margin-left: 5px;
                    }
                    .sor {
                        flex: 1;
                        margin-top: 15px;
                        margin-left: 15px;
                        p {
                           font-weight: bold;
                           font-size: 11px;
                           margin: 0;
                        }
                        p:nth-of-type(2) {
                            color: #db4453;
                        }
                    }
                }
            }
        }
    }
}