<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title my cv
    body
        .page
            .cv
                .personal
                    .my-img
                        img(src="img/my img.png", alt="")
                    .my-data
                        h4 personal
                    .sela
                        div
                            img(src="img/icn/icna.png", alt="")
                        div
                            p name
                            p ahmed abd el-alim ahmed
                    .sela
                        div
                            img(src="img/icn/address.png", alt="")
                        div
                            p Address
                            p Cairo - Nasr City - 10th District
                    .sela
                        div
                            img(src="img/icn/icnb.png", alt="")
                        div
                            p Phone number
                            p 01141740593
                    .sela
                        div
                            img(src="img/icn/icnc.png", alt="")
                        div
                            p Email
                            p ahmedhassan20029@gmail.com
                    .sela
                        div
                            img(src="img/icn/icnd.png", alt="")
                        div
                            p Date of birth
                            p 20- 05-1996
                    .sela
                        div
                            img(src="img/icn/icnf.png", alt="")
                        div
                            p Github(Previous projects)
                            p
                                a(href="https://github.com/ahmedhassan20029") github.com
                    .sela
                        div
                            img(src="img/icn/icng.png", alt="")
                        div
                            p LinkedIn
                            p
                                a(href="https://www.linkedin.com/in/ahmedhassan20029/") linkedin.com
                    .sela
                        div
                            img(src="img/icn/icnh.png", alt="")
                        div
                            p Marital status
                            p Single
                    .sela
                        div
                            img(src="img/icn/icnm.png", alt="")
                        div
                            p Military service
                            p Military service was performed
                    .sela
                        div
                            img(src="img/icn/icnn.png", alt="")
                        div
                            p Religion
                            p Muslim
                    .sela
                        div
                            img(src="img/icn/icnco.png", alt="")
                        div
                            p Nationality
                            p Egyptian
                .info
                    .summery
                        h1 ahmed abd el-alim ahmed
                        p I finished studying in the field of media but my goal and desire is to work in the field of front end development. I have a great desire to complete my career in learning everything new on the web and I seek to develop my level of experience in this field. I spent a year and a half in self-learning online in the field of the web, and I aspire during the coming period to gain more experience in this field through training and working within software companies.
                    //- start work education
                    .education
                        div
                            img(src="img/icn/cap.png", alt="")
                            h2 education
                        .path
                            img(src="img/icn/Ellipse.png", alt="")
                            span sep 2015 - sep 2018
                            .sor
                                p Bachelor's degree from the College of Mass Communications - Department of Public Relations and  Advertising.
                                p - Al-Azhar University - Very good overall rating.
                    //- start work experience
                    .education
                        div
                            img(src="img/icn/company.png", alt="")
                            h2 work experience
                        //- start experience 1
                        .path
                            img(src="img/icn/Ellipse.png", alt="")
                            span May 2015 - Nov 2015
                            .sor
                                p Journalist for Sky News Masr news site.
                                p - Heliopolis - El Marghany St.
                        //- start experience 2
                        .path
                            img(src="img/icn/Ellipse.png", alt="")
                            span Jul 2016 - Aug 2016
                            .sor
                                p Social Media, Al-Dustour news site.
                                p - Cairo - Dokki - 16 Mossadak St.
                        //- start experience 3
                        .path
                            img(src="img/icn/Ellipse.png", alt="")
                            span Jan 2017 - May 2017
                            .sor
                                p Store official at Al-Osra Company, Masr for Packaging.
                                p - Cairo - Badr City - Industrial Zone B.
                        //- start experience 4
                        .path
                            img(src="img/icn/Ellipse.png", alt="")
                            span Apr 2018 - Jun 2018 #[br] (Graduation Project)
                            .sor
                                p Website design for more furniture company.
                                p - A graduation project, consisting of designing a website for one of the companies, and the choice fell on the More Furniture Company located in Nasr City, the seventh district, Mostafa El-Nahhas Street, and the project was completed with a very good grade.
                        //- start experience 5
                        .path
                            img(src="img/icn/Ellipse.png", alt="")
                            span Aug 2020 - Until Now
                            .sor
                                p Currently working as (FMC) in Rajab Sons Trading Company.
                                p - Nature of work: monitoring the company's stock through the company's internal system.
                        